/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/*General Styles*/

h1,
h2,
h3,
h4,
h5,
.nav-link,
.navbar-brand {
  font-family: "Economica", sans-serif;
  color: #333;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
h1 {
  text-align: center;
}
a.nav-link:active {
  color:#d87b38;
}
.navbar-light a.navbar-brand:link, .navbar-light a.navbar-brand:visited, .navbar-light a.navbar-brand:hover, .navbar-light a.navbar-brand:focus, .navbar-light a.navbar-brand:active {color:#d87b38;} 

template,
p {
  font-family: "Montserrat", sans-serif;
  color: #333;
}
a {
  color:#ee8941;
  text-decoration: none;
}
a:hover {
  color:#d87b38;
}

select {
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}
input {
  padding: 5px 12px;
  margin-bottom: 10px;
}
button, .input-button {
  background-color: #ee8941;
  border: none;
  padding: 8px 21px;
  border-radius: 2px;
  color: #fff;
}
.input-button {
padding: 5px 49px;
} 
.input-button.wide {
  width: 100%;
}
.multisearch-pg {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;

}
button a, .input-button {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}
button a:hover, .input-button:hover {
  color: #d3cfcf;
  transition: color 0.5s ease;
}
section {
  padding: 30px 0;
}

/*reusable styles*/
 
.row.center {
  display: flex;
  justify-content: space-around;
}
.float-right{
  display: flex;
  justify-content: end;
}
.align-items-center {
  text-align: center;
  margin: 0 auto;
}
.padding-t{
  padding-top: 60px;
}
.padding-b{
  padding-bottom: 60px;
}
.padding-t-b {
  padding: 60px 0;
}
.small-text {
  font-size: .7rem;
}
.center-text {
  text-align: center;
}
.text-fade {
  font-size: larger;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  100% {
      opacity: 0;
  }
  0% {
      opacity: 1;
  }
}
/* .text-fade {
  color: rgba(51, 51, 51, 0);
  transition: color 1s ease;
} */
/* Navbar Styles*/
.navbar {
  padding-top: 0;
}
.navbar-light.bg-light {
  background-color: rgba(0, 0, 0, 0.57) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ee8941;
}
.navbar-light a.navbar-brand {
  color: #ee8941;
  font-size: 35px;
}
.navbar-light .navbar-brand:hover {
  color: #d87b38;
}
.right-nav-item {
  /* display: flex !important;
  flex-basis: auto !important;
  /* align-content: flex-end; */
  flex-direction: row-reverse !important; */
}
.container{
padding-right: var(--bs-gutter-x,1.75rem);
padding-left: var(--bs-gutter-x,1.75rem);
}
/*Footer styles*/
footer {
  background-color: #484444;
  color: #fff;
  text-align: center;
  padding: 50px;
  /* position:absolute; */
   /* bottom:0;
   width:100%; */
   /* height:60px;   Height of the footer */
}
footer h4 {
  color:#fff;
  font-size: 50px;
}
footer button, footer button a {
  background-color: #fff;
  color:#484444;
}
footer button a:hover {
  color: #484444c2;
}
.fa {
  font-size: 20px;
  padding: 0 7px;
  color:#fff;
}
/*Multi Select Search STyles*/
.multiselect__tag, .multiselect__option--highlight, .multiselect__option--highlight:after {
  background: #ee8941!important;
}
.multiselect__option--highlight:after, .multiselect__tag-icon:hover {
  background: #d87b38!important;
}
.multiselect__option--highlight:after{content:attr(data-select);background:#ee8941;color:#fff}
.multiselect__tag-icon:after {
  color: #fff;
}
/*Homepage styles*/
.home-hero {
  background-image: url("/img/heroWoverlay.jpg") !important;
  padding: 50px 10%;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  margin-top: -72px;
}
.hero-card {
  margin-top: 10vh;
  padding: 30px;
  background-color: #ffffffa1;
}
.cta-bar {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  background-color: #d87b38;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}
.cta-bar button, .cta-bar button a {
  background-color: #fff;
  color: #d87b38;
  margin: 0 20px;
}
.card {
  border:none;
  box-shadow: 4px -3px 10px 5px #33333324;
  border-radius: 2px;
  margin-bottom: 10px;
  margin-top: 0;
  transition: margin 0.5s ease; 
}
.card:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  transition: margin 0.5s ease;
  
}
.exercise-gif {
  margin: 0 auto;
}
button.card-content {
  margin-top: 20px;
}
.card-body {
  background-color: #484444;
  color: #fff;
  text-align: center;
  border-radius: 0 0 2px 2px;
  }
h5.card-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #fff;
}
.card-text {
  color: #fff;
  text-transform: capitalize;
}
a.nav-link.workout.btn {
  background-color: #ee8941;
  padding: 8px 21px;
  border-radius: 0;
  color: #fff;
}
a.nav-link.workout.btn:hover {
  color: #fff;
  background-color: #d87b38;
  float: right;
}
.other-ops button {
  margin: 0 15px;
  min-width: 150px;

}
/*Login page*/
.container.login-page, .container.signup-page, .container.this-user-show, .container.workouts-index, .container.sort-page, .container.workoutcreate-page {
  display: flex;
  justify-content: center;
}
.login, .signup {
  display: flex;
  justify-content: center;
}
.myuserspage, .index-list {
  justify-content: center;
  text-align: center;
}
.multiselect {
  width: 100%!important;
}
form ul {
  padding-left: 0;
}
form ul li {
  list-style-type: none;
}
/*Index Page*/
.index-list p {
  text-transform: capitalize;
}
.delete-workout {
  text-align: center;
}
/* .login form {

} */
/* .exercises .container {
  margin-top: 60px;
} */

/*font-family: 'Black Ops One', cursive;


font-family: 'Gruppo', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
*/

@media (min-width: 800px) {
  .navbar-expand-lg {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }
  
}
@media (max-width: 800px) { 
  .col-5, .col-4, .col-8, .col-6, .col-3 {
    width: 90%;
    margin: 0 auto;
  }
  .center-mobile {
    text-align: center;
  }
  .float-right.center-mobile {
    justify-content: center;
  }
  .rm-on-mobile {
    display: none;
  }
  footer h4 {
    font-size: 8vw;
  }
}
