/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
.nav-link,
.navbar-brand {
  font-family: "Economica", sans-serif;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px
}
footer h4 {
  color:#ee8941;
  font-size: 50px;
}
template,
p {
  font-family: "Montserrat", sans-serif;
}
select {
  padding: 5px 10px;
  margin-bottom: 10px;
}
input {
  padding: 5px 12px;
  margin-bottom: 10px;
}
 .input-button {
  background-color: #ee8941;
padding: 5px 49px;
border: none;
} 
.row.center {
  display: flex;
  justify-content: center;
}
.float-right{
  display: flex;
  justify-content: end;
}
.align-items-center {
  text-align: center;
  margin: 0 auto;
}
button {
  background-color: #ee8941;
  border: none;
  padding: 8px 21px;
}
button a, .input-button {
  color: #fff;
  text-decoration: none;
}
.small-text {
  font-size: .7rem;
}
.center-text {
  text-align: center;
}
.navbar {
  padding-top: 0;
}
.navbar-light.bg-light {
  background-color: rgba(0, 0, 0, 0.57) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #ee8941;
}
.navbar-light .navbar-brand {
  color: #ee8941;
  font-size: 35px;
}
.navbar-light .navbar-brand:hover {
  color: #d87b38;
}
.right-nav-item {
  /* display: flex !important;
  flex-basis: auto !important;
  /* align-content: flex-end; */
  flex-direction: row-reverse !important; */
}
.nav-link.workout.btn {
  /* align-self: flex-start !important; */
}
.home-hero {
  background-image: url("/img/heroWoverlay.jpg") !important;
  padding: 50px 10%;
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  margin-top: -72px;
}
.hero-card {
  margin-top: 10vh;
  padding: 30px;
  background-color: #ffffffa1;
}
button.card-content {
  margin-top: 20px;
}
a.nav-link.workout.btn {
  background-color: #ee8941;
  padding: 8px 21px;
  border-radius: 0;
  color: #fff;
}
a.nav-link.workout.btn:hover {
  color: #fff;
  background-color: #d87b38;
  float: right;
}
.exercises .container {
  margin-top: 100px;
}
.card-body {
background-color: #333;
color: #fff;
text-align: center;
}
/*font-family: 'Black Ops One', cursive;


font-family: 'Gruppo', cursive;
font-family: 'League Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
*/

@media (min-width: 800px) {
  .navbar-expand-lg {
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
  }
}
